*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.portfolio{
    background-color: black;
    color: white;
    height: 100vh;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 190px ;
    border-bottom: 1px solid #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:#ffbd39;
}
.navigation a{
    font-size: 0.9em;
    color:#fff;
    font-weight: 700;
    text-decoration: none;
    margin-left:10px;
    padding: 6px 15px;
    transition: ease-in-out 0.6s;
}

.navigation a.active{
    color:#ffbd39;
    border-radius: 2rem;
    border: 1px solid #ffbd39;
}
.navigation a:hover{
    color:#fff;
    border-radius: 2rem;
    background: #ffbd39;
}
header label{
    display: none;
}
.container-fluid span{
    color: white;
}

.name h6{
    color: #ffbd39;
    font-size: 20px;
}
#check{
    display: none;
}

.name h1{
    font-size: 40px;
}

.name i{
    color: #ffbd39;
    font-size: 50px;
}

.list{
    padding-left: 2px;
    height: 90px;
    line-height:90px;
    overflow: hidden;
}

.list li{
    list-style: none;
    font-size: 50px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;

}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.list li span{
    position: relative;
}

.list li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid black;
    animation: typing 2s steps(14) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -10px 0 10px;
    }
}
.content button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid white;
    margin:2px;
}
.content button a{
    text-decoration: none;
    color: white;
    
}
.content button a:hover{
    text-decoration: none;
    color: black;
}
.pic{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    overflow: hidden;
    transition: ease-in 0.5s;
}  
.pic img{
    width: 100%;
}
.pic:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.about{
    margin-top: 100px;
    margin-left: 100px;
}
.intro{
    margin-top: 100px;
    margin-left: 100px;
}

.home{
    margin-top:60px ;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

#shadow{
    font-weight: 600;
    text-shadow: -10px 10px rgba(153, 145, 145,0.5);
    margin-bottom: 70px;
}
.linked{
    background: #ffbd39;
    width:100px;
    margin-left: 180px;
}
.linked a{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.linked:hover{
    border: 1px solid #ffbd39;
    box-shadow: 2px 2px 10px #ffbd39;
    background: transparent;
}
.linked a:hover{
    color: #ffbd39;
}

.title-s{
    font-weight: bold;
    color: #ffbd39;   
}
.about-info{
    margin:10px;
}
.about-img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    overflow: hidden;
    transition: ease-in 0.5s;
}
.about-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.text button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid white;
}
.text button a{
    text-decoration: none;
    color:black;
}

#resume-section h1{
    font-size: 90px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -10px 20px rgb(153, 145, 145,0.5);
    margin-bottom: 20px;
}


#resume-section pre{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#resume-section h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#resume-section hr{
    color:#ffbd39;
    
}
.experience .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

.achievement .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.column-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:16px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffbd39;
    box-shadow: 4px 6px 6px #ffbd39;
}

.column-1 h4{
    color: #ffbd39;
}

.Education .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}

.resume button{
    margin-top: 50px;
    margin-left: 450px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.resume button a{
    text-decoration: none;
    color: white;
}

.resume button a:hover{
    text-decoration: none;
    color: black;
}


.project .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.column-2{
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffbd39;
    box-shadow: 4px 6px 6px #ffbd39;
    color: #fff;
}

.column-2 h4{
    color: #ffbd39;
}

#resume-section hr{
    width: 100%;
    color: #ffbd39;
}
#resume-section button{
    margin:20px 10px;
}
#resume-section button:hover{
    box-shadow: 2px 10px 10px #ffbd39;
}
.down{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Project-section h1{
    font-size: 90px;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -10px 20px rgba(153, 145, 145,0.5);
    margin-bottom: 40px;
}
#Project-section .column-3{
    margin-top: 15px;
    box-shadow: 2px 6px 6px #ffbd39;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    align-items: center;    
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #ffbd39;
} 

.column-3 h4{
    color: #ffbd39;
}

#Project-section hr{
    color: #ffbd39;
}

#contact-section h1{
    font-size: 90px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -10px 20px rgba(153, 145, 145,0.5);
    margin-bottom: 30px;
}
#head{
    display: flex;
    justify-content: center;
}
.contact p{
    font-size: 20px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
    gap: 100px;
}

.button a{
    text-decoration: none;
    color: #ffbd39;
    font-size: 20px;
    font-weight: bold;
    transition: ease-in 0.1s;
}

.button a:hover{
    color: white;
    transform: scale(1.5);
}
.footer{
    margin-top: 100px;
    background-color: rgb(38, 38, 38);
    }
.text p{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #ffbd39;
    font-weight: bold;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    position: relative;
    gap: 100px;
}

.social-media a{
    text-decoration: none;
    color: #ffbd39;
    font-size: 20px;
    font-weight: 200;
    transition: ease-in 0.1s;
}

.social-media a:hover{
    color: white;
    transform: scale(1.5);
}

.container h1{
    font-family: serif;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #fff;
    border-radius: 2rem;
}
  
::-webkit-scrollbar-thumb {
    background: #ffbd39;
    border-radius: 2rem;
    cursor:grab;
}
  @media (max-width:1140px){
    .pic{
        width:300px;
        height: 300px;
    }
  }
  @media(max-width:840px){
    .pic{
        display:none;
    }
  }
  ::selection{
    background: #ffbd39;
    color: #fff;
}
@media (max-width:890px){
    header .navigation{
        display: none;
    }
    header label{
        display:block;
        z-index:2;
        font-size: 25px;
        cursor: pointer;
        transition: ease-in 0.3s;
    }
    header label:hover{
        color:#ffbd39
    }
    header label .close-btn{
        display: none;
    }
    #check:checked ~ header .navigation{
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        flex-direction: column;
        background: rgba(9, 9, 9, 0.9);
    }
    #check:checked ~ header .navigation a{
        font-weight: 800;
        margin-right: 0;
        margin-bottom: 70px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index:2;
        display: block;
        position: fixed;
        font-size: 30px;
    }
    #resume-section pre{
        font-size: 11px;
    }
    header{
        padding: 10px 20px;
    }
}